{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <article>
        <h2>{{practice.date}}</h2>
        <h3>{{practice.instrument}}</h3>
        <div class="btn-group">
            <a href="{{practice._id}}/edit"><button class="btn btn-primary">Edit Practice</button></a>
            <form action="/practices/{{practice._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </article>
    <div class="col-md-6">
        <form action="/entries/{{practice._id}}" method="POST">
            <fieldset>
                <legend>Add Entry</legend>
                <label class="form-label" for="piece">Piece: </label>
                <input type="text" class="form-control" name="piece" id="piece" placeholder="Enter piece practiced here" />
                <label class="form-label" for="composer">Composer: </label>
                <input type="text" class="form-control" name="composer" id="composer" placeholder="Enter composer here" />
                <label class="form-label" for="minutes">Minutes Practiced: </label>
                <input type="number" class="form-control" name="minutes" id="minutes" />
                <label class="form-label" for="note">Note: </label>
                <input type="text" class="form-control" name="note" id="note" placeholder="Enter your notes here" />
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add Entry">
        </form>
    </div>
    {% if practice.entries.length > 0 %}
        <div class="container-md justify-content-center">
            <div class="col-md-11 col-lg-11">
                {% for entry in practice.entries %}
                    {% render '../users/entry.liquid' entry: entry, userId: userId, practice: practice, username: username %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}