{% layout 'layout.liquid' %}

{% block content %}

<div class="col-md-6">
    <form action="/entries/{{practice._id}}/{{entry._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Entry</legend>
            <label class="form-label" for="piece">Piece: </label>
            <input type="text" class="form-control" name="piece" id="piece" value="{{entry.piece}}" />
            <label class="form-label" for="composer">Composer: </label>
            <input type="text" class="form-control" name="composer" id="composer" value="{{entry.composer}}" />
            <label class="form-label" for="minutes">Minutes Practiced: </label>
            <input type="number" class="form-control" name="minutes" id="minutes" value={{entry.minutes}}/>
            <label class="form-label" for="note">Note: </label>
            <input type="text" class="form-control" name="note" id="note" value="{{entry.notes}}" />
        </fieldset>
        <input type="submit" class="btn btn-success" value="Edit Entry">
    </form>
</div>

{% endblock %}