{% layout 'layout.liquid' %}
{% block content %}

<div class="container-md">
    <h2 class="text-center">{{user}} Practice Review</h2> 
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Piece</th>
            <th>Composer</th>
            <th>Minutes</th>
        </tr>
        {% for practice in practices %}
        <tr>
            <td>{{practice.date}}</td>
            {% for entry in practice.entries %}
                <td>{{entry.piece}}</td>
                <td>{{entry.composer}}</td>
                <td class="countMe">{{entry.minutes}}</td>
                {%assign totalMinutes = entry.minutes | plus: totalMinutes %}
        </tr>
            {% endfor %}
            {% endfor %}
        <tr class="table-info">
            <td></td>
            <td></td>
            <td></td>
            <td>{{totalMinutes}}</td>
        </tr>
    </table>
    <div class="text-center">
        <a href="../practices/mine">Go Back</a>
    </div>    
</div>

{% endblock %}