{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    {% if composer %}
    <h1>composer name: {{composer}}</h1>
    {% endif %}
    {% if user%}
    <h2 class="text-center">{{user}} Practice Review</h2> 
    {% else %}
    <h2 class="text-center">All Practice Review</h2>
    {% endif %}
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Instrument</th>
            <th>Piece</th>
            <th>Composer</th>
            <th>Minutes</th>
        </tr>
        {% for practice in practices %}
        <tr>{% for entry in practice.entries %}
            {% if composer=='' and piece=='' %}
                <td>{{practice.date}}</td>
                <td>{{practice.instrument}}</td>
                <td>{{entry.piece}}</td>
                <td>{{entry.composer}}</td>
                <td class="countMe">{{entry.minutes}}</td>
                {%assign totalMinutes = entry.minutes | plus: totalMinutes %}
            <!-- if there is only a composer -->
            {% elsif composer!='' and piece==''%}
                {% if entry.composer == composer%}
                    <td>{{practice.date}}</td>
                    <td>{{practice.instrument}}</td>
                    <td>{{entry.piece}}</td>
                    <td>{{entry.composer}}</td>
                    <td class="countMe">{{entry.minutes}}</td>
                    {%assign totalMinutes = entry.minutes | plus: totalMinutes %}
                {% endif %}
            <!-- if there is only a piece -->
            {% elsif piece!='' and composer=='' %}
                {% if entry.piece == piece%}
                    <td>{{practice.date}}</td>
                    <td>{{practice.instrument}}</td>
                    <td>{{entry.piece}}</td>
                    <td>{{entry.composer}}</td>
                    <td class="countMe">{{entry.minutes}}</td>
                    {%assign totalMinutes = entry.minutes | plus: totalMinutes %}
                {% endif %}
            <!-- if there is a composer AND a piece -->
            {% elsif piece!='' and composer!='' %}
                {% if entry.piece == piece and entry.composer == composer%}
                    <td>{{practice.date}}</td>
                    <td>{{practice.instrument}}</td>
                    <td>{{entry.piece}}</td>
                    <td>{{entry.composer}}</td>
                    <td class="countMe">{{entry.minutes}}</td>
                    {%assign totalMinutes = entry.minutes | plus: totalMinutes %}
                {% endif %}
            <!-- if there are not a composer nor a piece -->
            {% else %}
                <td>{{practice.date}}</td>
                <td>{{practice.instrument}}</td>
                <td>{{entry.piece}}</td>
                <td>{{entry.composer}}</td>
                <td class="countMe">{{entry.minutes}}</td>
                {%assign totalMinutes = entry.minutes | plus: totalMinutes %}
            {% endif %}
        </tr>
            {% endfor %}
            {% endfor %}
        <tr class="table-info">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{totalMinutes}}</td>
        </tr>
    </table>
    <div id="filterPractice">
        <form action="/users/report/mine/range" method="GET">
            <fieldset>
                <legend>Filter Practice</legend>
                <label class="form-label" for="startDate">Start Date:</label>
                <input 
                    class="form-control filterDate" 
                    type="date" 
                    name="startDate" 
                    id="startDate" 
                    value="2022-01-01"
                >
                <label class="form-label" for="endDate">End Date:</label>
                <input 
                    class="form-control filterDate" 
                    type="date" 
                    name="endDate" 
                    id="endDate" 
                    value="2024-01-01"
                >
                <!-- <label class="form-label" for="instrument">Instrument:</label>
                <input 
                    class="form-control instrumentSearch" 
                    type="text" 
                    name="instrument" 
                    id="instrument" 
                    placeholder="Search Instrument Here"
                >    -->
                <label class="form-label" for="composer">Composer:</label>
                <input 
                    class="form-control composerSearch" 
                    type="text" 
                    name="composer" 
                    id="composer" 
                    placeholder="Search Composer Here"
                >
                <label class="form-label" for="piece">Piece:</label>
                <input 
                    class="form-control pieceSearch" 
                    type="text" 
                    name="piece" 
                    id="piece" 
                    placeholder="Search Piece Here"
                >
            </fieldset>
        <div class="text-center">
            <input type="submit" value="Filter Practice" class="btn btn-primary">
        </div>
    </form>
    </div>
    <div class="text-center">
        <a href="../">Go Back</a>
    </div>    
</div>
{% assign composer = '' %}
{% assign piece = '' %}

{% endblock %}